

ul#list-nav {
	min-width: 11000px;
	margin: 20px;
	
	display: flex;
  flex-wrap: nowrap;
	flex-direction: row;
	flex:1 0 200px;   /* cette ligne est un raccourci de la suite */
  flex-grow:1; /* l'élément peut s'agrandir, s'étendre au reste de la page */
  flex-shrink:0; /* l'élément ne peut pas de réduire */
  flex-basis:200px; /* l'élément fait 200px sauf s’il reste de la place */
	
  
	}
	
	ul#list-nav li {
		 border:2px solid #02aab0;
		 float: left;
		 overflow:hidden;
		 align-items: center;
		 margin-left: 200px;
	
	}
	li.first{
			border-top-left-radius:15px;
			border-bottom-left-radius:15px;
			border-top-right-radius:15px;
			border-bottom-right-radius:15px;
			align-items: center;
	}
	
	ul#list-nav li a {
	text-decoration:none;
	padding:15px 0;
	width:200px;
	align-items: center;
	background-color:white;
	color:#00cdac;
	float:right;
	text-align:center;
	
	
	
	}
	
	ul#list-nav li a:hover {
	background-color:#02aab0;
	align-items: center;
	color:white;
	
	
	
	}








	


	
